{% load static %}
<!DOCTYPE html>

<html>
<head>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}   
</head>

<body>
    <div class="container">
        <ul class="nav bg-info">
          <li class="nav-item">
            <a class="nav-link link-light" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="/children">Children</a>
          </li>
        </ul>
        <img src="{% static 'home-top-image3.jpg' %}" class="img-fluid" alt="...">
      
        {% block content %}
        {% endblock %}
        
        <h1>Home</h1>
        <p>Moral parent and child homepage</p>
        <hr>
        <h3>Student / Moral Children looking for funds</h3>
 
        <hr>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Fund Requested</th>
                <th scope="col">Application Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for x in all_children %}
              <tr>
                <th scope="row">{{x.id}}</th>
                <td>{{x.firstname}} {{x.lastname}}</td>
                <td>{{x.address}} {{x.country}}</td>
                <td>{{x.date_of_birth}}</td>
                <td>{{x.fund_request_amount}}</td>
                <td>{{x.application_date}}</td>
                <td> View </td>    
              </tr>
              {% endfor%}
            </tbody>
          </table>
        <hr>
        <h3>Becomre a Moral parent or Moral Child or Volunteer</h3>
        <div class="container">
            <div class="row">
              <div class="col">
                <div>
                    <img src="{% static 'moral-child-image.png' %}" class="img-fluid" alt="...">
                    STUDENT / MORAL CHILD 
                    Apply for a fund and becomre a moral child 
                    <button onclick="window.location.href='/children/apply';">
                        Apply
                    </button>
                </div>
              </div>
              <div class="col">
                <div>
                    <img src="{% static 'moral-parent-image.jpeg' %}" class="img-fluid" alt="...">
                    DONOR  / MORAL PARENT 
                    Donate and take resposibility of children.  
                    <button onclick="window.location.href='/parent';">
                        Apply
                    </button>
                </div>
              </div>
              <div class="col">
                <div>
                    <img src="{% static 'volunteer-image.png' %}" class="img-fluid" alt="...">
                    VOLUNTEER  
                    Check background and approve moral parent moral child 
                    <button onclick="window.location.href='/volunteer';">
                        Apply
                    </button>
                </div>
              </div>
            </div>
          </div>        
        <hr>

    </div> 
</body>
</html>